
/* CUSTOM css here */ 

@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

.max-width  /* all max-width elements */
{   
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}




/* Navbar styling */

.navbar /* all navbar elements and background */
{
    position: fixed;
    width: 100%;
    z-index: 999; /* stops navbar from letting text in */
    padding: 30px 0;
/*    background: yellow;  background for nav bar*/ 
    font-family: 'Noto-Sans', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky  /* makes navbar scroll with page and shrink */
{
    padding: 10px 0;
    background: purple;
}

.navbar .max-width  /* all navbar elements of class max-width */
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a /* portfolio logo */
{
    color: yellow;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span /* makes lio a different color */
{
    color: mediumpurple;
}

.navbar .menu li /* nav bar buttons layout */
{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a  /* navbar clickable buttons on the right */
{
    color: yellow;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease; /* this and a:hover below make buttons change color */
}

.navbar .menu li a:hover 
{
    color: mediumpurple;
}

/* menu button styling for small scale screens */

.menu-button
{
    color: yellow;
    font-size:  30px;
    cursor: pointer;
    display: none;
}




/* Home page Styling */

.home   /* all home elements, background and text */
{
    display: flex;
    background: url("/images/banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Cuprum', sans-serif;
}

.home .max-width    /* homepage text margins */
{
    margin: auto 0 auto 40px
}

.home .home-content .text-1 /* hello, my anme is */
{
    font-size: 27px;
}
 
.home .home-content .text-2 /* umar */
{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 /* And I'm am a coder */
{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span /* Coder */
{
    color: yellow;
    font-weight: 500; 
}




/* Shared styling between homepage and work */

section /* distance of section tags on the home section */
{
    padding: 60px 0;
}

section .title   /* 'about me' and 'work' text */
{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: 'Cuprum',sans-serif;
}

section .title::before   /* the line under about me and work */
{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 43%;
    width: 150px;
    height: 3px;
    background: purple;
}




/* About me section styling */

.about  /* font for this section */
{
    font-family: 'Noto-Sans', sans-serif;
}

.about .about-content   /* all content in this section */
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left
{
    width: 45%;
}

.about .about-content .left img /* picture in about me */
{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.about .about-content .right
{
    width: 55%;
}

.about .about-content .right .text  /* larger text on right of picture */
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span /* coder on top */
{
    color: purple;
}

.about .about-content .right p  /* paragraph on the right of the picture */
{
    text-align: justify;
}




/* Work page styling */

.work   /* all elements in work */
{
    font-family: 'Noto-Sans', sans-serif;
    color: yellow;
    background: purple;
}

.work .title h2
{
    margin-top: 200px;
}

.work .title::before    /* line under title */
{
    background: mediumpurple;
}

.work .work-content   /* all content in this section */
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem;
}

.work .work-content .card /* the cards themselves */
{
    width: calc(33% - 20px);
    background: black;
    text-align: center;
    border-radius:  6px;
    padding: 20px 25px;
}

.work .work-content .card i /* the icons in the cards */
{
    font-size: 50px;
    color: aliceblue
}

.work .work-content .card .text /* the titles in the cards */
{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}




/* Services Section styling */

.container /* all of the content in services(cards) */
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services .services /* id=service class service elements */
{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .section-title /* title in services */
{
    font-family: 'Cuprum', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    color: purple;
    margin-bottom: 20px;
    text-align: center;
}

#services .section-title span /* the yellow i in the service page title */
{
    color: yellow;
}

#services .service-top p /* paragraph below title */
{
    font-family: 'Noto-sans', sans-serif;
    color: black;
    font-size: 1.4rem;
    margin-top: 100px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05px;
}

#services .service-bottom  /* all cards in services */
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#services .service-item  /* three cards in services */
{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30;
    border-radius: 2px;
    background-image: url('/images/background.jpg');
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    overflow: hidden;
}

#services .service-item h2 /* title in the cards */
{
    font-size:  2rem;
    color: purple;
    margin-bottom: 10px;
}

#services .service-item p /* paragraph in the cards */
{
    font-family: 'Noto-sans', sans-serif;
    color: black;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}




/* Contact section styling */

.section-title /* title in services */
{
    font-family: 'Cuprum', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    color: purple;
    margin-bottom: 20px;
    text-align: center;
}

.section-title span /* the yellow for these tags globally but being used for info  */
{
    color: yellow;
}

#contact .contact /* all elements int he container */
{
    flex-direction: column;
    max-width: 1200;
    margin: 0 auto;
}

#contact .contact-items /* all cards */
{
    width: 400px;
}

#contact .contact-item /* the three contact cards */
{
    font-family: 'Noto-Sans', sans-serif;
    width: 80%;
    padding: 20px;
    border-radius:  10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover
{
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon /* spacing for icons in the cards */
{
    font-size: 30px;
    width: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#contact .contact-info h1 /* card titles */
{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2
{
    font-size: 1.3 rem;
    line-height: 2rem;
    font-weight: 500;
}



/* footer section styling */

footer
{
    font-family: 'Cuprum', sans-serif;
    background: yellow;
    padding: 20px 23px;
    color: black;
}





/* Responsive media query (for making content conform to small screens) */

/* for homepage, navbar and work */

@media (max-width: 1300px) /* reduces the margin on my name and the text on the home page when window shrinks */
{
    .home .max-width
    {
        margin-left: 0px;
    }
}

@media (max-width: 1104px)
{
    .about .about-content .left img /* picture in about me */
    {
    height: 330px;
    width: 330px;
    }
}
    
/*
@media (max-width: 991px) supoosed to split my name in two but its a little broken
{
    .max-width 
    {
        padding: 0 50px;
    }
}
*/

@media (max-width: 900px)   /* at which size to switch the navbar to a button */
{
    .max-width  
    {   
        padding: 0 50px;
    }
    .menu-button
    {
        display: block;
        z-index: 999;
    }
    .menu-button i.active:before    /* turns the menu button into a cross when clicked together with js */
    {
        content: "\f00d";
    }
    .navbar .menu
    {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: purple;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease-in-out;
    }
    .navbar .menu.active
    {
        left: 0;
    }
    .navbar .menu li    /* makes the layont a vertical list when menu button is clicked together with 'li a' below */
    {
        display: block;
    }
    .navbar .menu li a
    {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    /* decreases font size when window shrunk */
    .home .home-content .text-2 /* umar */
    {
        font-size: 65px;
    }
    .home .home-content .text-3 /* And I'm am a coder */
    {
        font-size: 32px;
    }
    .max-width  
    {   
        max-width: 800px;
    }
    .about .about-content .column  /* containers for right and left in about */
    {
        width: 100%;
    }
    .about .about-content .left /* left and right below make the text move below the image whent the window shrinks enough */
    {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right
    {
        flex: 100%
    }
    .work .work-content .card /* to shrink the work cards */
    {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) /* to even furder reduce the size when the window shrinks even smaller */ 
{
    .home .home-content .text-2 /* umar */
    {
        font-size: 60px;
    }

    .home .home-content .text-3 /* And I'm am a coder */
    {
        font-size: 27px;
    }
    .work .work-content .card /* make it span the entire screen when window shrunk enough */
    {
        width: 100%;
    }
}

/* media query for services and contact */

@media only screen and (min-width: 768px)
{
    .cta
    {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1 .section-title
    {
        font-size: 6rem;
    }
    #services .service-bottom .service-item /* for service cards */
    {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #contact .contact /* all contact elements */
    {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items /* contact cards */
    {
        width: 100%; 
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 20px;
    }
    #contact .contact-item .contact-info /* content in contact cards */
    {
        width: 100%;
        text-align: left;
        padding: 20px;
    }
 
}

